<component name="ArtifactManager">
  <artifact type="war" name="spring-service:war">
    <output-path>$PROJECT_DIR$/../Spring-X/spring-service/target</output-path>
    <root id="archive" name="spring-service.war">
      <element id="artifact" artifact-name="spring-service:war exploded" />
    </root>
  </artifact>
</component>